/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat+Alternates:wght@400;500;600&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
         Change favorite color:

         Default (Red): hsl(358, 80%, 49%)
         Purple: hsl(265, 80%, 49%) - Blue: hsl(220, 80%, 49%)
         Pink: hsl(330, 80%, 49%) - Green: hsl(162, 70%, 40%)
         Orange: hsl(14, 80%, 49%)

         For more colors visit: https://htmlcolorcodes.com/
         -> Choose any color 
         -> Copy the color mode (HSL)
  */
  --hue: 210;
  --first-color: hsl(var(--hue), 53%, 52%);
  --first-color-alt: hsl(var(--hue), 76%, 45%);
  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 1%);
  --text-color: hsl(var(--hue), 2%, 66%);
  --body-color: hsl(var(--hue), 1%, 29%);
  --container-color: hsl(var(--hue), 2%, 10%);
  --conic-gradient: conic-gradient(from 150deg at 50% 45%,
                  hsl(var(--hue), 80%, 20%) 0deg,
                  hsl(var(--hue), 80%, 48%) 140deg,
                  hsl(var(--hue), 80%, 20%) 360deg);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Open Sans", sans-serif;
  --second-font: "Montserrat Alternates", sans-serif;
  --third-font: "Dela Gothic One", sans-serif; /* Katakana */
  --fourth-font: "Pacifico", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1168px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1168px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem 3rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*=============== NAV ===============*/
.nav {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    background-color: hsla(0,0%,98%, .1);
    width: 50%;
    margin-inline: auto;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 1rem 2rem;
    border-radius: 4rem;
    z-index: var(--z-fixed);
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__link {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .6s;

}
/* Active link */
.active-link{
    background-color: var(--first-color);
}

/*=============== HOME ===============*/
/*===== PROFIL =====*/
.profil{
    position: relative;
    background: var(--conic-gradient);
    height: 415px;
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    overflow: hidden;
}

.profil__katakana{
    font-family: var(--third-font);
    font-size: 9rem;
    color: var(--white-color);
    position: absolute;
    z-index: 1;
    top: 36.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    text-align: center;
    width: 100%;
    letter-spacing: 0.3rem;
    line-height: 0.9;
}

.profil__img{
    width: 290px;
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    z-index: 2;
}

.profil__data{
    align-self: flex-end;
    background-color: hsla(0, 0%, 1%, .1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 1rem 1.8rem rgba(0,0,0,0.3);
    z-index: 3;
}

.profil__name{
    font: var(--font-semi-bold) var(--h1-font-size) var(--fourth-font);
    color: var(--white-color);
    margin-bottom: 1rem;
}

.profil__buttons{
    font: var(--font-regular) var(--h3-font-size) var(--second-font);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
}

/*===== INFO =====*/
.info{
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: 2rem;
}

.info__circle{
    width: 2rem;
    height: 2rem;
    background-color: var(--first-color);
    border-radius: 50%;
}

.info__name{
    font: var(--font-semi-bold) var(--h1-font-size) var(--second-font);
}

.info__data{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.info__image{
    height: 180px;
    border-radius: 2rem;
    display: grid;
    margin-block: 1.5rem;
    overflow: hidden;
}

.info__img{
    width: 140px;
    justify-self: center;
    align-self: flex-end;
}

.info__desc{
    font-size: var(--small-font-size);
    margin-bottom: 1.2rem;
    text-align: justify;
}

.info .button{
    width: 100%;

}

/*===== ABOUT =====*/
.about{
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: 2rem;
}

.about__name{
    font: var(--font-semi-bold) var(--h1-font-size) var(--second-font);
    margin-bottom: 1rem;
}

.about__desc{
    font: var(--font-regular) var(--small-font-size) var(--body-font);
    margin-bottom: 1rem;
    text-align: justify;
}

.about__social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.about__link{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .6s;
}

.about__link:hover{
    background-color: var(--first-color-alt);
}

.about__image{
    background: var(--conic-gradient);
    height: 180px;
    border-radius: 2rem;
    display: grid;
    margin-block: 1.5rem;
}
.about__img{
    width: 135px;
    justify-self: center;
    align-self: flex-end;
}

.about__note{
    font: var(--font-regular) var(--small-font-size) var(--body-font);
    margin-bottom: 1rem;
    text-align: justify;
}

.about .button{
    width: 100%;
}



/*===== SKILLS =====*/
.skills{
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    overflow: hidden;
}

.skills__title{
    font: var(--font-semi-bold) var(--h2-font-size) var(--fourth-font);
    margin-bottom: 1rem;
}

.skills__item{
    width: 1.5rem;
    transition: transform .4s;
    align-items: center;
}

.skills__item:hover{
    transform: scale(1.5);
}

.skills__items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1.5rem;
}

/*=============== BUTTON ===============*/
.button{
    display: inline-flex;
    justify-content: center;
    background-color: var(--body-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 1.8rem;
    border-radius: 4rem;
    transition: background-color .4s;
}

.button:hover{
    background-color: var(--first-color-alt);
}

/*=============== PROJECTS ===============*/
.section__title{
    font: var(--h1-font-size) var(--fourth-font);
}

.projects__card{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 2rem;
}

.projects__title{
    font: var(--font-semi-bold) var(--h2-font-size) var(--second-font);
    margin-bottom: .6rem;
}
.projects__desc{
    font: var(--font-regular) var(--small-font-size) var(--body-font);
    margin-bottom: 1rem;
    text-align: justify;
}
.projects__image{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 1rem;
    align-self: center;
}

.projects__img{
    transition: transform .4s;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project__skills{
    width: max-content;
    height: 45px;
    background-color: var(--body-color);
    padding-inline: .75rem;
    display: flex;
    align-items: center;
    column-gap: .75rem;
    border-radius: 4rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.project__skill{
    width: 1.3rem;
    transition: transform .4s;
    align-items: center;

}
.project__skill:hover{
    transform: translateY(-0.5rem) scale(1.2);
}

.project__audio {
    margin: 1rem;
    background: var(--conic-gradient);
    padding: 1rem;
    border-radius: 1rem;
}

.audio__title {
    font: var(--font-semi-bold) var(--small-font-size) var(--second-font);
    color: var(--white-color);
    margin-bottom: 0.5rem;
}

.project__player {
    width: 100%;
    height: 40px;
    border-radius: 0.5rem;
    background-color: hsla(0, 0%, 100%, .1);
}

/* Styling untuk player controls */
audio::-webkit-media-controls-panel {
    background-color: var(--white-color);
}

audio::-webkit-media-controls-play-button {
    background-color: var(--white-color);
    border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: var(--black-color);   
}

.projects__button{
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: color .4s;
}

.projects__button:hover{
    color: var(--first-color-alt);
}

/*=============== EXPERIENCE ===============*/
.exp__container{
    row-gap: 2rem;
}
.exp__card{
    display: grid;
    row-gap: .5rem;
}

.exp__company{
    font: var(--font-semi-bold) var(--h2-font-size) var(--second-font);
}

.exp__data{
    background-color: var(--container-color);
    padding: 1.3rem;
    border-radius:1.5rem ;
}

.exp__profession{
    font: var(--font-semi-bold) var(--h2-font-size) var(--second-font);
}

.exp__date{
    display: block;
    font: var(--font-regular) var(--small-font-size) var(--body-font);
    margin-bottom: 1rem;
    color: var(--first-color-alt)
}

.exp__desc{
    font: var(--font-regular) var(--small-font-size) var(--body-font);
    margin-bottom: .65rem;
    text-align: justify;
}
/*=============== CONTACT ===============*/
.contact__group,
.contact__form{
    gap: 1rem;
}

.contact__form{
    position:relative;
}

.contact__input{
    background-color: var(--container-color);
    padding: 1.25rem;
    border-radius: 4rem;
    color: var(--white-color);
}

.contact__input::placeholder{
    color: var(--text-color);
}

.contact__input:autofill{
    transition: background-color 6000s color 6000s;
}
.contact__area{
    height: 10rem;
    border-radius: 1.5rem;
    resize: none;
}

.contact__button{
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: var(--first-color);
}
.contact__message{
    position:absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}
/*=============== FOOTER ===============*/
.footer{
    padding-block: 2rem 8rem;
}

.footer__container{
    row-gap: 2.5rem;
}

.footer__logo{
    color: var(--white-color);
    font: var(--font-regular) var(--biggest-font-size) var(--fourth-font);
    justify-self: center;
}

.footer__links{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.footer__link{
    color: var(--white-color);
    transition: color .4s;
}

.footer__link:hover{
    color: var(--first-color-alt);
}

.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.footer__social-link{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .4s, color .4s;
}

.footer__social-link:hover{
    background-color: var(--white-color);
    color: var(--first-color-alt);
}

.footer__copy{
    display: block;
    margin-top: 4.5rem;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(0, 1%, 13%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: hsla(var(--hue), 20%, 80%, 0.6);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsla(var(--hue), 30%, 75%, 0.8);
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    bottom: -50%;
    right: 1rem;
    background-color: hsla(0, 0%, 98%, .1);
    display: inline-flex;
    padding: 6px;
    color: var(--white-color);
    font-size: 1.25rem;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s transform .4s;
}

.scrollup:hover {
    transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.show-scroll{
    bottom: 8rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
